<div class="container">
  <!-- <ng-progress></ng-progress> -->
  <h1>MY  TASKS</h1>
    <hr>
    
      <div class="row">
        <div class="col-md-6">
          <div *ngFor='let task of tasks;let i = index'>
            <div>
              <h6 id={{i}} appStrikethrough>{{task.name}} due on {{task.completeDate|date|uppercase}}</h6>
              <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
            </div>
    
            <div *ngIf='task.showDescription'>
              <app-task-detail  [task]='task' (isComplete) = 'deleteTask($event,i)'></app-task-detail>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <app-task-form (addTask)="addNewTask($event)"></app-task-form>
        </div>
      </div>
    
      <p *ngIf='tasks.length > 2'>You have too many goals</p>
      <div class="row">
        <blockquote class="blockquote text-center">
          <p class="mb-o">{{quote.quote}}</p>
          <footer class="blockquote-footer"><cite>{{quote.author}}</cite>
          </footer>
        </blockquote>

      </div>
    </div>